@using WebAppMvcClientLocation.Data

@model Client

@{
    var locatieNamen = Database.Locations.Select(l => new SelectListItem
            {
                Value = l.LocationId.ToString(),
                Text = l.City
            }).ToList();
}
<h1>Create</h1>
<br />
<h3>Client</h3>
<hr />
<form asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="col-md-4">
        <div class="mb-4">
            <label asp-for="ClientId" class="form-label"></label>
            <input asp-for="ClientId" class="form-control" />
            <span asp-validation-for="ClientId" class="text-danger"></span>
        </div>
        <div class="mb-4">
            <label asp-for="LocationId" class="form-label"></label>
            <select asp-for="LocationId" class="form-control" asp-items="@(new SelectList(locatieNamen))"/>
        </div>
        <div class="mb-4">
            <label asp-for="ClientName" class="form-label"></label>
            <input asp-for="ClientName" class="form-control" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Create</button>
        <br />
        <a asp-controller="Client" asp-action="Index">Back to List</a>
    </div>
</form>