@using WebAppMvcClientLocation.Controllers

@model IEnumerable<ClientLocation>


@{

}

<h1>Client Location</h1>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">ClientName</th>
            <th scope="col">City</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var klantInfo in Model)
        {
            <tr>
                <td scope="row">@klantInfo.ClientName</td>
                <td>@klantInfo.City</td>
            </tr>
        }
    </tbody>
</table>