@model Location
@{
}
<h1>Create</h1>
<br />
<h3>Location</h3>
<hr />
<form asp-action="Create" method="post">
    <div class="col-md-6">
        <div class="mb-4">
            <label asp-for="PostCode" class="form-control"></label>
            <input asp-for="PostCode" class="form-label"/>
            <span asp-validation-for="PostCode" class="text-danger"></span>
        </div>
        <div class="mb-4">
            <label asp-for="City"></label>
            <input asp-for="City" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn-primary btn">Create</button>
        <br />
        <a asp-controller="Locations" asp-action="Index">Back to List</a>
    </div>
</form>