@page
@model RazorWebAppClient.Pages.KlantenLocatieOverzichtModel
@{
    var klanten = Data.Databank.Klanten;
   
    
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Klant</th>
            <th scope="col">Locatie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var klant in klanten)
        {
            var locaties = Data.Databank.Locaties.FirstOrDefault(x => x.LocatieId == klant.LocatieId);
            <tr>
                <td>@klant.KlantNaam</td>
                <td>@(locaties != null ? locaties.Gemeente : "Gemeente niet gevonden")</td>
            </tr>
        }
    </tbody>
</table>